
#header {
	width: 980px;
	margin: 0 auto;

}

#header_title {
	width: 920px;
	padding: 0 30px;
	height: 98px;
}

#site_title {
	width: 300px;
	padding: 20px 0 0 0;
}

body {
	margin: 0;
	color: #555;
	background: url(../images/body.jpg);
	background-repeat: repeat-x;
}

#site_title h1 {
	margin: 0;
}

#header_menu {
	height: 39px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#header_menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#header_menu ul li a {
	float: left;
	width: 109px;
	text-align: center;
	text-decoration: none;
	padding: 8px 0 0 0;
	height: 32px;
	color: #555;
	font-weight: bold;
}

#header_menu ul li a:hover,#header_menu ul li .current {
	color: #fff;
	background: url(../images/btn_bg.png);
}

#header_banner {
	width: 980px;
	height: 202px;
	padding: 50px 30px;
	background: url(../images/banner_bg.jpg);
}

.contentslider {
	width: 920px;
	height: 200px;
}

#content {
	background: url(../images/content_top.jpg) repeat-x;
	width: 920px;
	margin: 0 auto;
	padding: 30px;
	height: 100px;
}

#content_main {
	width: 620px;
	float: left;
}

#content_slider {
	float: right;
}

#footer {
	height: 50px;
	background: url(../images/footer_bg.jpg);
}

#footer_content {
	width: 940px;
	padding: 10px 20px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	color: #fff;
}

.left h2 {
	padding-top: 4px;
}

